
     
     
          <footer class="footerdiv">
                <nav class="mobile-bottom" data-responsive-toggle="bottom-menu" data-hide-for="medium">

                    
                      <ul class="vertical menu" data-dropdown-menu >
                          
                            {{> nav-bottom}}
                  
                      </ul>
               </nav>
                    
                    
               
                
                

                <nav class="menu-centered columns nav-bottom show-for-medium" id="bottom-menu">
                              
                    <ul class="menu">
                         {{> nav-bottom}} 
                    </ul>
                </nav>

                        
                        
                <div class="large-12 column extended">
                    
                   <hr>
                </div>        
                        
                        
                        <div class="wrapper row" >
                                   
                                        <div class="small-12">
                                                      
                                                   <span class="gray">  <p class="text-center">Copyright © Brittania Bad 2016. All Right Reserved</p></span>
                                        </div>
      
                    
                        </div>
               
          
          </footer>
          
          
              <script>
var menuButton = document.getElementById('menuButton');
menuButton.addEventListener('click', function (e) {
    menuButton.classList.toggle('is-active');
    e.preventDefault();
});
</script>
   
  
  
  
  
  
  
  
 
</div>
  </div> 
  



      
