


    <!-- "wider" top-bar menu for 'medium' and up -->

         
             
                  
                  <div class="top-bar">
                    
                     
                            
                            <div class="top-bar-left">
                                    <ul class="dropdown menu" data-dropdown-menu>
                                  
                                          {{> nav-example}}
                        
                                    </ul>
                            </div>
                   
                      
                  
                  </div>
                
              
             
           
        
    
    
    
    

     
    <!-- End Top Bar -->