<section class="content">
   
 <div class="orbit" role="region" aria-label="Bathroom Interiors" data-orbit data-timer-delay="10000" data-pause-on-hover="false">
        <ul class="orbit-container" >
        
                <li class="orbit-slide is-active">
                    <div class="hero-orbit-div" style="background-image:url('./assets/img/slide1.png')" >
                        <div class="wrapper">
                            <div class="hero-textbox">
                                    <h1><span class="rokoko">Vi kan</span></h1>
                                    <h2><span class="white">BADRUMSINREDNING</span></h2>
                                    <h6><span class="whitebody">och hjälper dig att skapa ett unikt utseende</span></h6>
                            </div>
                        </div>
                    </div>
                </li>
                
                <li class="orbit-slide">
                    <div class="hero-orbit-div" style="background-image:url('./assets/img/slide2.jpg')">
                        <div class="wrapper">
                            <div class="hero-textbox">
                                    <h1><span class="rokoko">Exclusiva</span></h1>
                                    <h2><span class="white">badrumsdetaljer</span></h2>
                                    <p><span class="whitebody">för en engelskinspirerad stil</span></p>
                            </div>
                        </div>
                    </div>
                 
                </li>
        
                
                <li class="orbit-slide">
                    <div class="hero-orbit-div" style="background-image:url('./assets/img/slide3.jpg')">
                        <div class="wrapper " >
                            <div class="hero-textbox">
                            
                      
                                    <h1><span class="rokoko">Romantiska</span></h1>
                                    <h2><span class="white">badrum i svala toner</span></h2>
                                    <p><span class="whitebody">för en effektfull och lyxig känsla</span></p>
                            </div>
                        </div>
                    </div>
                  
                </li>

        </ul>
        
</div>
</section>