
<section>



<div class="hero-scroll-div-background" style="background-image:url('./assets/img/bg1.png')">
                        
                        
                        
                        
                        <div class="wrapper">
                            <div class="hero-scroll-div ">
                                    <h1><span class="rokoko">Klassisk</span></h1>
                                    <h2><span class="white">Design</span></h2>
                                    <br>
                                    <a class="success hollow button" href="#">SE VÅRA KATALOGER</a>
                            </div>
                        </div>
                    
    </div>
   
</section>