                <li class="nav-main"><a href="./index.html">Start</a></li>
              <li class="nav-main "><a href="./about.html">Om oss</a></li>
              <li class="nav-main active"><a href="#">Produkter</a>
                  <ul class="menu">
                    
                       <li class="nav-main"><a href="#">Badkar</a></li>
                       <li class="nav-main"><a href="#">Handfat</a></li>
                       <li class="nav-main"><a href="#">Duschar</a></li>
                       <li class="nav-main"><a href="#">Toaletter</a></li>
                       <li class="nav-main"><a href="#">Handukstorkar</a></li>
                  </ul>
              </li>  

              
              <li class="nav-main"><a href="#">Inspiration</a></li>
              <li class="nav-main"><a href="#">Kataloger</a></li>
              <li class="nav-main"><a href="./aterforsaljare.html">Återförsäljare</a></li>
              
              