<section class="content">
   
	
     

    <div class="row text-center">
           
              
                <div class="medium-6 columns spread-text" >
                        <h1><span class="rokoko">Välkommen</span></h1>
                        <h3><span class="black">till Brittania</span></h3>
                        <img src="./assets/img/flag.png" alt="" class="flag"><br><br>
                        <p>Brittania Bad är en komplett kollektion av olika engelska varumärken med klassisk viktoriansk stil. England har varit det ledande landet inom badrumsdesign sedan förra sekelskiftet och badrumskollektionen är därför sammansatt för att tillgodose den svenska marknaden. Våra produkter möjliggör skapandet av ett gammaldags badrum i elegant engelsk stil.</p>

                       
                        <a class="secondary hollow button" href="./about.html">OM OSS</a>
                </div>      
        
                <div class="medium-6 columns spread-gallery" >
                        <div class="row small-up-2">
                                <div class="column">
                                        <img class="thumbnail"  src="./assets/img/gammaldagswc.png">
                                </div>
                                  
                                <div class="column">
                                        <img class="thumbnail" src="./assets/img/klassisktbadrum.png">
                                </div>
                        </div>
                </div>
          
               
    
    
            
    </div> 
  
</section>
