<section class="content">
        

        <div class="row text-center ">
                
        <div class="medium-6 medium-push-6 columns spread-text" >
                        
                        <h1><span class="rokoko">Låt dig</span></h1>
                        <h3><span class="black">Inspireras</span></h3>
                        
                        <img src="./assets/img/flag.png" alt="" class="flag"><br><br>
                        
                        <p>Inspireras av badrumsdekorationer, design och möbler i andra hem. Här hittar du badrumsinredning och inspiration i klassisk, engelskinspirerad stil.</p>
                        <br>
                        
                        <a class="secondary hollow button" href="#">INSPIRATION</a>
                
                </div>

                
                  <div class="medium-6 medium-pull-6 columns">
                        
                        <div class="row small-up-2">
                                <div class="column">
                                        <img class="thumbnail"  src="./assets/img/insp1.png">
                                </div>
                                  
                                <div class="column">
                                        <img class="thumbnail" src="./assets/img/insp3.png">
                                </div>
                        </div>
                        
                        <div class="row small-up-2">
                                <div class="column">
                                        <img class="thumbnail"  src="./assets/img/insp2.png">
                                </div>
                                  
                                <div class="column">
                                        <img class="thumbnail" src="./assets/img/insp4.png">
                                </div>
                        </div>
                        
                </div>

       


        </div>
    
                

</section>

